<%= form_for(@product_follower) do |f| %>
  <% if @product_follower.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product_follower.errors.count, "error") %> prohibited this product_follower from being saved:</h2>

      <ul>
      <% @product_follower.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :product_id %><br>
    <%= f.number_field :product_id %>
  </div>
  <div class="field">
    <%= f.label :follower_id %><br>
    <%= f.number_field :follower_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
