<%= stylesheet_link_tag "login_form" , media:"all" %>

<div id="login">
  <%= form_for(:session, url: login_path) do |f| %>

    <div class="input">
	    <%= f.label :roll_no %>:
	    <%= f.text_field :roll_no,:placeholder => "roll_no" %>
    </div>

    <div class="input">
	    <%= f.label :password %>:
	    <%= f.password_field :password,:placeholder => "password" %>
    </div>

    <div class="sub">
	    <%= f.submit "Login" %>
    </div>

  <% end %>
</div>