
                <ul class="list-group dropdown-menu">
                   <% if current_user.notifications_as_notifiee.blank? %>
                       <li class="list-group-item">No New Notifications</li>
                    <% else %>
                  <% current_user.notifications_as_notifiee.reverse[0..10].each do |notification| %>
                  <% @p=Product.find( notification.product_id )%>
                  <%#= current_user%>
                  <li class="list-group-item"><a href='<%= url_for @p %>' style="display:inline;"><%=notification.notifier.fullname %> has commented on your <b><%=notification.product.name %></b> at <small><%= notification.created_at.strftime("%b %e, %l:%M %p") %></small></a></li>
                  <% end %>
                    <div id="notificationFooter"><a href='<%= user_url%>#noti' align="center">Show more</a></div>
                  <% end %>
                  </ul>
<style>
    #notificationContainer {

        border-radius:5px;
    }
#notificationsBody
{
min-height:50px;
min-width:30em;
}
#notificationFooter
{
background-color: #e9eaed;
text-align: center;
font-weight: bold;
padding: 8px;
font-size: 12px;
border-top: 1px solid #dddddd;
margin-bottom:-2em;
}
 a:focus {
    color: #111 !important;
    background-color: transparent;
}
.dropdown-menu>li> a:hover  {
   background:#2980b9 !important;
  color:#000 !important;

    text-decoration:none !important;
}
 a {
    color: #111 !important;
    background-color: transparent;
}
</style>