<!DOCTYPE html>
<html lang="en">
<body>
<hr>
<div class="container bootstrap snippet">
    <div class="row">
  		<div class="col-sm-10"><h1><%= @user.fullname %></h1></div>
    	<div class="col-sm-2">
      <a href="/user" class="pull-right">
      <% if !@user.avatar.blank? %>
        <%= image_tag(current_user.avatar.url(:thumb),{class:"img-circle img-responsive"}) %>
      <% else %>
        <img title="profile image" class="img-circle img-responsive" src="http://www.gravatar.com/avatar/28fd20ccec6865e2d5f0e1f4446eb7bf?s=100">
      <% end %>
      </a></div>
    </div>
    <div class="row">
  		<div class="col-sm-3"><!--left col-->
              
          <ul class="list-group">
            <li class="list-group-item text-muted">Profile</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Contact Number</strong></span><%=@user.contact%></li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Room No</strong></span><%= @user.room %></li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Hostel:</strong></span><%= @user.hostel %></li>
            
          </ul> 
               
   <!--       <div class="panel panel-default">
            <div class="panel-heading">Website <i class="fa fa-link fa-1x"></i></div>
            <div class="panel-body"><a href="http://bootnipets.com">bootnipets.com</a></div>
          </div>
       -->   
          
          <ul class="list-group">
            <li class="list-group-item text-muted">Activity <i class="fa fa-dashboard fa-1x"></i></li>
         
            <li class="list-group-item text-right"><span class="pull-left"><strong>Products not sold</strong></span> 0</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Products Sold</strong></span> 0</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Total Products</strong></span><%= @user.products.length %></li>
          </ul> 
               
   <!--       <div class="panel panel-default">
            <div class="panel-heading">Social Media</div>
            <div class="panel-body">
            	<i class="fa fa-facebook fa-2x"></i> <i class="fa fa-github fa-2x"></i> <i class="fa fa-twitter fa-2x"></i> <i class="fa fa-pinterest fa-2x"></i> <i class="fa fa-google-plus fa-2x"></i>
            </div>
          </div>
          -->
        </div><!--/col-3-->
    	
      <div class="col-sm-9">
          
          <ul class="nav nav-tabs" id="myTab">
            <li class="active"><a href="#home" data-toggle="tab">Uploaded Products</a></li>
            <li><a href="#messages" data-toggle="tab">Notifications</a></li>
            <li><a href="#settings" data-toggle="tab">Profile Settings</a></li>
          </ul>
              
          <div class="tab-content">
            <div class="tab-pane active" id="home"><br>
          <div class="row">
                    <% @product.each do |product| %>
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                        `
                            <%= image_tag product.image.url(:thumb),{class:"img-responsive image"} %>
                            <div class="caption">
                             <%= link_to 'Edit', edit_product_path(product),{class:"btn btn-primary"} %>
                                <%= link_to 'Destroy', product,{ method: :delete, data: { confirm: 'Are you sure?'},class:"btn btn-danger pull-right"} %>
                                
                                <h4><%= link_to 'Show', my_products_path %>
                                </h4>
                                
                                <% if !product.description.blank? %>
                                    <p><strong>Description:</strong> <%= product.description %></p>
                                <% end %>
                                <% if !product.reason.blank? %>
                                    <p><strong>Reason:</strong><%= product.reason %></p>
                                <% end %>

                            
                            </div>
                            
                        </div>
                    </div>
                    <% end %>
                </div>   
<%= will_paginate @product%>

                  <!--    <td>Table cell</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                    </tr>
                    <tr>
                      <td>3</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                    </tr>
                    <tr>
                      <td>4</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                    </tr>
                    <tr>
                      <td>5</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                    </tr>
                    <tr>
                      <td>6</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                    </tr>
                    <tr>
                      <td>7</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                    </tr>
                     <tr>
                      <td>8</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                    </tr>
                    <tr>
                      <td>9</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                    </tr>
                    <tr>
                      <td>10</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                    </tr>
                  </tbody>
                </table>
                <hr>
                <div class="row">
                  <div class="col-md-4 col-md-offset-4 text-center">
                  	<ul class="pagination" id="myPager"></ul>
                  </div>
                </div>
              </div><!--/table-resp-->
          
              <hr>
              
             </div><!--/tab-pane-->
             <div class="tab-pane" id="messages">
               
               <h2></h2>
             
               <ul class="list-group">
                  <li class="list-group-item text-muted">Inbox</li>
                  <% @user.notifications_as_notifiee.each do |notification| %>
                  
                  <li class="list-group-item text-left"><%=notification.notifier.fullname %> has commented on your <%= notification.product.name %>  product at <%= notification.created_at.strftime("%b %e, %l:%M %p") %></li>
                  

                  <% end %>
          <!--       <li class="list-group-item text-right"><a href="#" class="pull-left">Hi Joe, There has been a request on your account since that was..</a> 2.11.2014</li>
                  <li class="list-group-item text-right"><a href="#" class="pull-left">Nullam sapien massaortor. A lobortis vitae, condimentum justo...</a> 2.11.2014</li>
                  <li class="list-group-item text-right"><a href="#" class="pull-left">Thllam sapien massaortor. A lobortis vitae, condimentum justo...</a> 2.11.2014</li>
                  <li class="list-group-item text-right"><a href="#" class="pull-left">Wesm sapien massaortor. A lobortis vitae, condimentum justo...</a> 2.11.2014</li>
                  <li class="list-group-item text-right"><a href="#" class="pull-left">For therepien massaortor. A lobortis vitae, condimentum justo...</a> 2.11.2014</li>
                  <li class="list-group-item text-right"><a href="#" class="pull-left">Also we, havesapien massaortor. A lobortis vitae, condimentum justo...</a> 2.11.2014</li>
                  <li class="list-group-item text-right"><a href="#" class="pull-left">Swedish chef is assaortor. A lobortis vitae, condimentum justo...</a> 2.11.2014</li>
                      -->       
                </ul> 
               
             </div><!--/tab-pane-->
             <div class="tab-pane" id="settings">
            	

             
              <%= form_for @user  do |f| %>               
            
               
               <div class="form-group">
                          
                          <div class="col-xs-6">
                              <%= f.label :fullname,class:"control-label" %>
                              <%= f.text_field :fullname,class:"form-control" %> 
                          </div>
              </div>

                 <div class="form-group">
                          
                          <div class="col-xs-6">
                              <%= f.label :room,class:"control-label" %>
                              <%= f.text_field :room,class:"form-control" %> 
                          </div>
                 </div>	
                     <div class="form-group">
                          
                          <div class="col-xs-6">
                              <%= f.label :hostel,class:"control-label" %>
                              <%= f.text_field :hostel,class:"form-control" %> 
                          </div>
              </div>               

              <div class="form-group">
                          
                          <div class="col-xs-6">
                              <%= f.label :phone,class:"control-label" %>
                              <%= f.text_field :contact,class:"form-control" %> 
                          </div>
                    <div class="form-group">
                          <div class="col-xs-6">
                          <br>
                              <%= f.label :avatar,class:"control-label" %>

                              <span class="btn btn-default btn-file">
                                  Browse <%= f.file_field :image %>
                              </span>
                          </div> 
                    </div>        
               <div class="form-group">
                           <div class="col-xs-12">
                                <br>
                               <%= f.submit "submit", class: "btn btn-default btn-primary"%>
                            </div>
                      </div>

             <% end %>
             

              <!--    <hr>
                  <form class="form" action="##" method="post" id="registrationForm">
                      
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                            <label for="last_name"><h4>Last name</h4></label>
                              <input type="text" class="form-control" name="last_name" id="last_name" placeholder="last name" title="enter your last name if any.">
                          </div>
                      </div>
          
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="phone"><h4>Phone</h4></label>
                              <input type="text" class="form-control" name="phone" id="phone" placeholder="enter phone" title="enter your phone number if any.">
                          </div>
                      </div>
          
                      <div class="form-group">
                          <div class="col-xs-6">
                             <label for="mobile"><h4>Mobile</h4></label>
                              <input type="text" class="form-control" name="mobile" id="mobile" placeholder="enter mobile number" title="enter your mobile number if any.">
                          </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="email"><h4>Email</h4></label>
                              <input type="email" class="form-control" name="email" id="email" placeholder="you@email.com" title="enter your email.">
                          </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="email"><h4>Location</h4></label>
                              <input type="email" class="form-control" id="location" placeholder="somewhere" title="enter a location">
                          </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="password"><h4>Password</h4></label>
                              <input type="password" class="form-control" name="password" id="password" placeholder="password" title="enter your password.">
                          </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                            <label for="password2"><h4>Verify</h4></label>
                              <input type="password" class="form-control" name="password2" id="password2" placeholder="password2" title="enter your password2.">
                          </div>
                      </div>
                      <div class="form-group">
                           <div class="col-xs-12">
                                <br>
                              	<button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                               	<button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>
                            </div>
                      </div>
              	</form>  -->
              </div>
               
              </div><!--/tab-pane-->
          </div><!--/tab-content-->

        </div><!--/col-9-->
    </div><!--/row-->
                                                     
<!--<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script type="text/javascript">
-->	                        
<script src="jquery-1.10.2.min.js"></script>
<script src="bootstrap.min.js"></script>
<script type="text/javascript">
</script>
</body>
</html>

