
<nav class="navbar navbar-inverse navbar-static-top"  style="box-shadow:0px 0px 5px rgba(0,0,0,0.9);">
  <div class="container-fluid">
    <div class="navbar-header">
      <ul class="nav nav-pills">
          <li><h3 id="nav-head">Buy and Sell</h3></li>
      </ul>
    </div>
	     <ul class="nav navbar-nav navbar-right" style="margin:auto;">
            <% if logged_in? %>
                <li><%= root_path %></li>
                <li><%= link_to 'Home',root_path %></li>
                <li><%= link_to 'Products',products_path%></li>
                <li id="user-name" class="dropdown">
                  <a class="dropdown-toggle" href="#" data-toggle="dropdown"><%= image_tag(current_user.avatar.url(:thumb),{:id => "user-thumb",class:"img-circle img-responsive" , alt:""})+current_user['fullname'].titleize %>
                  <span class="caret"></span></a>
                  <ul class="dropdown-menu ">
                    <li ><%= link_to "My Profile",user_path %></li>
                    <li ><%= link_to 'My products',my_products_index_path %></li>
                    <li class="divider"></li>
                    <li ><%= link_to 'Logout',logout_path, method: "delete" %></li>
                  </ul>
                </li>
                <li id="user-name" class="dropdown">
                  <a class="dropdown-toggle" href="#" data-toggle="dropdown">hii
                  <span class="caret"></span></a>
                  <%= render partial: 'user/notification'%>
                </li>
<!--
                <li class="dropdown">
                  <a class="dropdown-toggle" href="#" data-toggle="dropdown">Notifications
                  <span class="caret"></span></a>
                  <ul class="list-group dropdown-menu">
                    <li class="list-group-item text-muted">Inbox</li>
                    <%# @user.notifications_as_notifiee.each do |notification| %>
                      <li class="list-group-item text-left"><%#=notification.notifier.fullname %> has commented on your <%#=notification.product.name %>  product at <%#= notification.created_at.strftime("%b %e, %l:%M %p") %></li>
                    <%# end %>
                  </ul>
                </li>
-->
                <li><%= link_to 'Logout',logout_path, method: "delete" %></li>
            <% else %>
                <li><%= link_to "Sign in",  @auth_url , :id => "login1"%></li>
            <% end %>
        </ul>
    <form id="search-form" class="input-group col-xs-offset-2 col-md-offset-3 col-md-3 col-xs-3 search" action="/products" accept-charset="UTF-8" method="get">	<input name="utf8" type="hidden" value="✓">
      <div class="form-group">
          <input type="search" name="search" id="search" placeholder="Search" class="form-control input" style="padding-left:8px;" data-autocomplete="/products/autocomplete_product_name">
      </div>
	</form>


  </div>
</nav>
<style >
    #nav-head {
        font-size:3rem;
        color:white;
        margin-top:1rem;
    }
    #user-thumb{
        float : left;
    }
    #user-name {
        white-space: nowrap;
    }
    h1{
         font-family: Pacifico, Helvetica, Arial, sans-serif;
         margin:auto;
    }
</style>
