<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner" role="listbox" align="center">
    <% @images.each do |image| %>
      <% if image!=@images.first %>
        <div class="item">
          <%= image_tag "carousel/#{image.split('/').last}" %>
        </div>
      <% else %>
        <div class="item active">
          <%= image_tag "carousel/#{image.split('/').last}" %>
        </div>      
      <% end %>
    <% end %>
  </div>

</div>
<div class="row col-sm-9 pull-right">
  <% @flag=true%>
  <br>
  <%= render partial: 'products/products', locals: { products: @products } %>
</div>
<%= render partial: 'products/offers'%>
<%if session[:access_token] %>
	<%= @signout %>
<%end%>
<style>
  .carousel{
    width:640px;
    height:400px;
    float:none;
    margin:0 auto;
  }
</style>