<%= form_for @product, url: products_path, :html => {:multipart => true,:class => "form-horizontal center"} do |f| %>
  <div class="field">
    <%= f.label :name,class:"control-label" %>
    <%= f.text_field :name,class:"form-control" %>
  </div>
  <div class="field">
    <%= f.label :price,class:"control-label" %>
    <%= f.number_field :price,class:"form-control"%>
  </div>
  <div class="field">
    <%= f.label :description,class:"control-label" %>
    <%= f.text_area :description,class:"form-control" %>
  </div>
  <div class="field">
    <%= f.label :reason,class:"control-label" %>
    <%= f.text_area :reason,class:"form-control" %>
  </div><br/>
  <div >
    <%= f.label :status,class:"control-label col-md-1" %>
    <div class="col-md-4">
   <%= f.select :status, [["Buy"], ["Sold"], ["Booked"]], {}, {class: "form-control"} %>
    </div>
    <%= f.label :category_id,class:"control-label col-md-1" %>
    <div class="col-md-4">
       <%= f.collection_select :category_id, Category.all, :id, :name,{},{class: "form-control"} %>
    </div>
    <%= f.label :image,class:"control-label col-md-1" %>

    <span class="btn btn-default btn-file">
      Browse<%= f.file_field :image %>
    </span>
  </div>
  <br/>
  <div class="actions">
    <%= f.submit "Submit", class: "btn btn-default btn-primary" %>
  </div><br/>
<% end %>
