<head>
	<link rel="stylesheet" href="bootstrap.css">
	<link rel="stylesheet" href="bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</head>

<div class="row">
    <% @products.each do |product| %>
        <div class="col-sm-3  col-lg-3 col-md-3">
        <%= link_to "Follow", product_followers_path(:follower_id => current_user), :method => :post %>
        <div class="thumbnail">
            <%= image_tag product.image.url(:medium),{class:"img-responsive images"} %>
            <div class="caption">
                <h4 class="pull-right"><b>Rs.<%= product.price %></b></h4>
                <h4><%= link_to 'Show', product %></h4>
                <h4><%= link_to 'Click Here', "#", data: {toggle: "modal", target: "#mymodal"} %></h4>
                <%= link_to 'Add release', make_offer_path,  {:remote => true, 'data-toggle'=> "modal", 'data-target' => '#mymodal', id:'adds' }  %>
                <p><strong>Name:</strong> <%= product.name %></span></p>
                <% if !product.description.blank? %>
                    <p><strong>Description:</strong> <%= product.description %></p>
                <% end %>
            </div>
        </div>
        </div>
    <% end %>
</div>   

