<div class="container">

        <div class="row">

            <div class="col-md-3">
                <p class="lead">Categories</p>
                
                <div class="list-group">
                <%= link_to "All",root_path,{class:"list-group-item"} %>
                <% Category.order('name ASC').each do |category| %>
                    <%= link_to category.name,category,{class:"list-group-item"} %>
                <% end %>
                </div>
            </div>

            <div class="col-md-9">
                <div class="row">
                    <% @products.each do |product| %>
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                        
                            <%= image_tag product.image.url(:thumb) %>
                            <div class="caption">
                                <h4 class="pull-right">Rs.<%= product.price %></h4>
                                <h4><%= link_to 'Show', product %>
                                </h4>
                                <p><strong>Name:</strong>&emsp;  <%= product.name %></span></p>
                                <% if !product.description.blank? %>
                                    <p><strong>Description:</strong> <%= product.description %></p>
                                <% end %>
                                <% if !product.reason.blank? %>
                                    <p><strong>Reason:</strong><%= product.reason %></p>
                                <% end %>
                            
                            </div>
                            
                        </div>
                    </div>
                    <% end %>
                </div>   
        </div>
 </div>
                    

