<div class="row col-sm-offset-1" style="padding-top:20px;border-top:1px solid grey;">
    <% if  @products.where(status: "available").count==0%>
        <p>There are No Products available for sale in this Category<%= @category1%>.Be the First person to add <i class="fa fa-smile-o"></i></p>
    <% end %>
    <% @products.each do |product| %>
        <% if product.status=="available" %>
        <div class="col-sm-6  col-lg-4 col-md-4 col-xs-4">
        <div class="thumbnail">
            <%= image_tag(product.pictures.first.image.url(:small) , :class =>"zoom img-responsive")%>
            <div class="caption">
                <h4 class="pull-right"><b>Rs.<%= product.price %></b></h4>
                <h4><%= link_to 'Show', product,:class=> "show" %></h4>
                <p><strong>Name:</strong> <%= product.name %></span></p>
                <p><strong>Description:</strong>
                <% if !product.description.blank? %>
                     <%= product.description %></p>
                <% end %>
            </div>
        </div>
        </div>
        <% end %>
    <% end %>
</div>   

<style>
 .show:focus {
    color: #2980B9 !important;
    background-color: transparent;
    text-decoration:none !important;
    border:none !important;

}
 .show:hover {
    color: #2980B9 !important;
    background-color: transparent;
    text-decoration:none !important;
    font-weight:bold;
}
 .show {
    color: #2980B9 !important;
    background-color: transparent;
}</style>