  

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td col-md-><%= image_tag product.image.url(:thumb) %></td>
        <td><%= product.price %></td>
        <td><%= product.status %></td>
        <td><%= product.category %></td>
        <td><%= link_to 'Show', product %></td>
        </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product',  new_product_path , :class => "btn btn-primary" %>
