 <br> 
<%= link_to 'New Product',  new_product_path , :class => "btn btn-primary" %>
<br><br>
<div class="row">
 <% @products.each do |product| %>
      
        <div class="col-sm-4 col-lg-4 col-md-4">
             <div class="thumbnail">
                <%= image_tag product.image.url(:thumb) %>
                  <div class="caption">
                    <h4 class="pull-right">Rs.<%= product.price %></h4>
                    <h4><%= link_to 'Show', product %></h4>

                    <p><b>Name:</b><%= product.name %></p>
                    <p><b>Status:</b><%= product.status %></p>
                    <p><b>Description:</b><%= product.description %></p>
                    <p><b>Reason:</b><%= product.reason %></p>
                  </div>
             </div>
        </div>
<% end %>
</div>