<div class="container">

          <div class="row">
<div class="col-sm-6">
                    <% @pictures.each do |pic| %>
                        <% if pic==@pictures.first %>
                            <%= image_tag pic.image.url(:medium), :id => "zoom_01",:class => 'image_zoomer'%>
                        <% else %>
                            <div class="col-sm-4 pull-left">
                                <%= image_tag pic.image.url(:thumb), :id => "zoom_01",:class => 'image_zoomer'%>
                            </div>
                        <% end %>
                    <% end %>
</div>
<div class="col-sm-6">
                <div class="thumbnail">
                    <div class="caption-full">
                        <h4 class="pull-right"><b>Rs.<%= @product.price %></b></h4>
                        <h4><a href="#"><%= @product.name %></a>
                        </h4>
                        <% if !@product.description.blank? %>
                                    <p><strong>Description:</strong> <%= @product.description %></p>
                                <% end %>
                                <% if !@product.reason.blank? %>
                                    <p><strong>Reason:</strong><%= @product.reason %></p>
                                <% end %>
                                <p>Seller can edit details of product here <%= link_to "edit",edit_product_path %></p>  
                                <%= link_to @product.status,"#",{class:"btn btn-info"} %>
                                <%= link_to "Back",root_path,{class:"btn btn-primary pull-right"} %>

                                
                    </div>
               
  <hr>
  <div class="well">
  
   <h2><%= @product.comments.count %> comments </h2>
    <%= render 'comments/comment' %>
    <%= render 'comments/form' %>
 </div>
</div>
</div>

</div>
<script>
    $('#zoom_01').elevateZoom({
    zoomType: "inner",
cursor: "crosshair",
zoomWindowFadeIn: 500,
zoomWindowFadeOut: 750
   }); 
</script>