<div class="container" style="margin-top:2em;">
<div class="row">
    <div class="col-sm-6">
    <div id="slider" class="flexslider">
        <ul class="slides">
            <% @pictures.each do |pic| %>
                    <li><%= image_tag pic.image.url(:medium),:class => "zoom_01",data:{zoom_image:pic.image.url}%></li>
            <% end %>
        </ul>
    </div>
<div id="carousel" class="flexslider" style="margin-top:-3.5em">
        <ul class="slides">
            <% @pictures.each do |pic| %>
                    <li><%= image_tag pic.image.url(:small)%></li>
            <% end %>
        </ul>
    </div>
</div>
<div class="col-sm-6">
                <div class="thumbnail">
                    <div class="caption-full">
                        <h4 class="pull-right"><strong>Price:</strong><b>Rs.<%= @product.price %></b></h4>
                        <h4><strong>Name:</strong><%= @product.name %></h4>
                        <p><strong>Description:</strong> 
                        <% if !@product.description.blank? %>
                            <%= @product.description %></p>
                        <% end %>
                        <p><strong>Reason:</strong>
                        <% if !@product.reason.blank? %>
                            <%= @product.reason %></p>
                        <% end %>
                        <% if current_user.id==@product.user_id %>
                            <p>Seller can edit details of product here <%= link_to "edit",edit_product_path %></p>  
                            <%= link_to @product.status, {:controller =>'products', :action => :toggles, :id=>@product.id},:class=> ( @product.status=="available"  ? "btn btn-success" : "btn btn-danger") %>
                        <% else %>
                            <%= link_to @product.status, "#",:class=> ( @product.status=="available"  ? "btn btn-success" : "btn btn-danger") %>
                        <% end %>
                <h4><button type="button"  class="btn btn-primary btn-default"data-toggle="modal" data-target="#mymodal" id="adds" data-uni=<%=@product.id%>>Send offers</button></h4>
                                <%= link_to "Back",root_path,{class:"btn btn-primary pull-right"} %>
                    </div>
<%= render partial: 'offers'%>

  <hr>
</div>
</div>
</div>
  <div class="well" id="cmnts">
  
   <h2><%= @product.comments.count %> comments </h2>
    <%= render 'comments/comment' %>
    <%= render 'comments/form' %>
 </div>
<% if  @product.user_id==current_user.id %>
 <div class="well">
   <h2><%= @product.bids.count %> offers </h2>
    <%= render 'bids/bid' %>
 </div>
<% end %>

<script>
    
$(window).load(function() {
  // The slider being synced must be initialized first
  $('#carousel').flexslider({
    animation: "slide",
    controlNav: false,
    animationLoop: false,
    slideshow: false,
    itemWidth: 150,
    itemMargin: 5,
    asNavFor: '#slider'
  })
 
  $('#slider').flexslider({
    animation: "slide",
    controlNav: false,
    animationLoop: false,
    slideshow: false,
    sync: "#carousel"
  });
});


function leftArrowPressed() {
   // Keyboard action
}

function rightArrowPressed() {
   // Keyboardaction
}

document.onkeydown = function(evt) {
    evt = evt || window.event;
    switch (evt.keyCode) {
        case 37:
            leftArrowPressed();
            break;
        case 39:
            rightArrowPressed();
            break;
    }
};
var zooms=$(".zoom_01").elevateZoom({
    //scrollZoom : true,
    zoomWindowWidth : 400,
    zoomWindoHeight : 400
});
setTimeout(zooms, 2000);
</script>