

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

  <%= image_tag @product.image.url(:original) %>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @product.reason %>
</p>

<p>
  <strong>Status:</strong>
  <%= @product.status %>
</p>



<% if logged_in? %>
  <%= link_to 'Edit', edit_product_path(@product) %> |
<% end %>
<%= link_to 'Back', products_path %>

<h2><%= @product.comments.count %> comments </h2>
<%= render 'comments/comment' %>

<%= render 'comments/form' %>

