<header class="navbar navbar-default navbar-static-top navbar-inverse header">
    <div class="container">
        
    

        <ul class="nav navbar-nav navbar-right" style="margin:auto;">
            <% if logged_in? %>
             <li><%= link_to 'Home',products_path %></li>
              <li><%= link_to 'User',my_products_index_path %></li>
              <li><%= link_to 'logout',logout_path, method: "delete" %></li>
            <% else %>
    	       <li><%= link_to 'login',login_path %></li>
            <% end %>
        </ul>
     
    <%= form_tag(products_path, :method => "get", id: "search-form", :class => "input-group col-md-6 col-xs-4 col-sm-8 col-lg-9") do %>
          <%= text_field_tag :search, params[:search], placeholder: "Search Products" , class:"form-control" , :style => "padding:10px;"%>
          <span class="input-group-btn">
          <%= submit_tag "Search", :name => nil , :class => "btn btn-default"%>
    <% end %>
    
    
    <!--<div class="input-group col-md-6 col-xs-4 col-sm-8 col-lg-9" style="padding:10px;">
       <input  placeholder="Search..." type="text" class="form-control">
       <span class="input-group-btn">
        <button class="btn btn-default" type="button">
            <span class="glyphicons glyphicons-search"></span>
        </button>
       </span>
    </div>
    </div>--> 

</header>