<!DOCTYPE html>
<html>
<head>
  <%= favicon_link_tag 'favicon.ico'%>
  <title>Buynsell</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jquery.flexslider.js' %>
  
  <%= csrf_meta_tags %>
</head>
<body>
<div id="content">
  <div class="sidebar">
  <%= render 'layouts/sidebar' %>
  </div>
  <%= render 'oauth/header2' %>
<div class="container main-body">
    <%= render 'layouts/errors' %>
    <%= yield %>
  </div>
</div>
</body>
</html>